.CreatePost {
 background: white;
 padding: 15px;
 border-radius: 8px;
 width: 25rem;
}

.CreatePostHeader {

}

textarea {
  width: 100%;
  resize: vertical;
  overflow: hidden;
}

.CreatePostSubmit {
  position: relative;
}

button {
  background-color: #4267b2;
  border: none;
  color: white;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
